            body {
        text-align: center;
        body {
            background-image: url('https://image.freepik.com/premium-photo/gold-gradient-color-background-creative-abstract-backdrop_120819-121.jpg');
            text-align: center;